@media (prefers-color-scheme: dark) {
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.8s ease-out, transform 0.8s ease-out;
  }

  .popup.open {
    opacity: 1;
    visibility: visible;
  }

  .popupInner {
    position: absolute;
    background-color: slategrey;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: auto;
    height: auto;
    animation: slide-in 0.3s, fade-in 0.5s;
  }

  .popup.closing {
    opacity: 0;
    animation: fade-out 0.3s;
  }

  .popupInner.closing {
    animation: slide-out 0.8s ease-out, fade-out 0.8s ease-out;
  }

  @keyframes slide-out {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateY(100%);
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  @keyframes slide-in {
    from {
      transform: translateY(100%) scale(0.95);
    }

    to {
      transform: translateY(0) scale(1);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .close-btn {
    position: absolute;
    cursor: pointer;
    text-align: end;
    right: 0.5em;
    background-color: mediumblue;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    top: 0.5em;
  }

  .close-btn:hover {
    background-color: darkblue;
  }

  .input-group {
    margin-bottom: 10px;
  }

  .input-group label {
    font-size: 16px;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .input-group input {
    transition: border 0.3s ease;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  .option-group {
    margin-bottom: 10px;
  }

  .option-group label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .option {
    margin-right: 20px;
  }

  .order-btn {
    transition: background-color 0.3s ease;
    background-color: #4caf50;
    border: none;
    color: #fff;
    padding: 0.5em;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 1em 0em 0em;
  }

  .order-btn:hover {
    transform: scale(1.05);
    background-color: #45a049;
  }

  span.no-line-break {
    white-space: nowrap;
  }

  .price {
    position: relative;
    text-align: start;
    direction: ltr;
  }

  .name {
    position: absolute;
    cursor: pointer;
    text-align: start;
    top: 0.5em;
    left: 0.5em;
    font-size: 14px;
    direction: ltr;
  }
}

@media (prefers-color-scheme: light) {
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.8s ease-out, transform 0.8s ease-out;
  }

  .popup.open {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
  }

  .popupInner {
    transform: scale(0.95);
    color: black;
    position: absolute;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: auto;
    height: auto;
    animation: slide-in 0.3s, fade-in 0.5s;
  }

  .popup.closing {
    opacity: 0;
    animation: fade-out 0.3s;
  }

  .popupInner.closing {
    animation: slide-out 0.8s ease-out, fade-out 0.8s ease-out;
  }

  @keyframes slide-out {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateY(100%);
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  @keyframes slide-in {
    from {
      transform: translateY(100%);
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .close-btn {
    position: absolute;
    cursor: pointer;
    text-align: end;
    right: 0.5em;
    background-color: slateblue;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    top: 0.5em;
  }

  .close-btn:hover {
    background-color: blueviolet;
  }

  .input-group {
    margin-bottom: 10px;
  }

  .input-group label {
    font-size: 16px;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .input-group input {
    transition: border 0.3s ease;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  .option-group {
    margin-bottom: 10px;
  }

  .option-group label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .option {
    margin-right: 20px;
  }

  .order-btn {
    transition: background-color 0.3s ease;
    background-color: #98ddca;
    border: none;
    color: #fff;
    padding: 0.5em;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 1em 0em 0em;
  }

  .order-btn:hover {
    transform: scale(1.05);
    background-color: #45a049;
  }

  span.no-line-break {
    white-space: nowrap;
  }

  .price {
    position: relative;
    text-align: start;
    direction: ltr;
  }

  .name {
    position: absolute;
    cursor: pointer;
    text-align: start;
    top: 0.5em;
    left: 0.5em;
    font-size: 14px;
    direction: ltr;
  }
}

.button {
    background: linear-gradient(145deg, #98ddca, #45a049);
    border: none;
    padding: 0.6em 1em;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
    background: linear-gradient(145deg, #45a049, #98ddca);
    transform: scale(1.05);
}

.button:active {
    transform: scale(0.95);
}

.text {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    color: #333;
    font-size: 1em;
}

.checkbox {
    appearance: none;
    background-color: #f2f2f2;
    border: 1px solid #d1d1d1;
    padding: 10px;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    transition: all 0.3s;
}

.checkbox:checked {
    background-color: #45a049;
    border-color: #98ddca;
}

.checkbox:checked::after {
    content: '\2713';  // Checkmark symbol
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
