.orders-table-container {
    font-family: Arial, sans-serif;
    color: #242424;
    margin: 20px;
    padding: 0 20px 20px 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 50vw;
    overflow: auto;
}

.orders-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: visible;
    table-layout: auto;
}

.orders-table th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    text-align: left;
    padding: 12px;
    border-bottom: 2px solid #ddd;
    white-space: nowrap;
}

.orders-table tr {
    transition: background-color 0.2s;
    position: relative;
}

.orders-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.orders-table tr:hover {
    cursor: pointer;
    background-color: #e0e0e0;
}

.orders-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
}

textarea {
    width: 20em;
}

@media (prefers-color-scheme: dark) {
    .orders-table-container {
        color: #f4f4f4;
        background-color: #333;
    }

    .orders-table {
        background-color: #222;
    }

    .orders-table th {
        background-color: #222;
        border-bottom: 1px solid #333;
    }

    .orders-table tr {
        background-color: #444;
    }

    .orders-table tr:nth-child(even) {
        background-color: #555;
    }

    .orders-table tr:hover {
        background-color: #666;
    }

    .orders-table td {
        color: #fff;
        border-bottom: 1px solid #333;
    }
}