.language {
    display: flex;
    height: 30px;
    margin: 5px;
}

.select {
    font-size: 1.2em;
    flex-wrap: nowrap;
    background: transparent;
    border: transparent;
    color: #efefef;
}

.select:active {
    background: transparent;
    border: transparent;
}

@media (prefers-color-scheme: light) {
    .select {
        color: #3a3a3a;
    }
}