.root {
}

@media (prefers-color-scheme: dark) {
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    visibility: visible;
    opacity: 1;
    z-index: 999;
  }

  .popup.open {
    opacity: 1;
    visibility: visible;
  }

  .popupInner {
    position: absolute;
    background-color: slategrey;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: auto;
    height: auto;
  }
}

@media (prefers-color-scheme:light) {
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    visibility: visible;
    opacity: 1;
    z-index: 999;
  }

  .popup.open {
    opacity: 1;
    visibility: visible;
  }

  .popupInner {
    color: black;
    position: absolute;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: auto;
    height: auto;
  }
}
