.root {
    display: flex;
    justify-content: center;
    align-items: start;
    height: auto;
    width: auto;
    margin: 1vw;
    transition: transform 0.3s ease;
}

.root:hover {
    transform: scale(1.05);
}

.root:active {
    transform: scale(0.95);
}

.coffee {
    display: inline;
    overflow: visible;
    position: static;
    background: linear-gradient(to bottom, #008080, #00CED1);
    background-origin: padding-box;
    background-clip: border-box;
    box-shadow: 2.83px 2.83px 12px black;
    margin: 0px;
    border-radius: 0.8em;
}

.text {
    margin: 0.3vw;
    padding: 0vw;
    color: black;
}

.price-tag {
    display: inline-block;
    padding: 0.2em 0.5em;
    background-color: #50C878;
    border: 2px solid #005E49;
    border-radius: 4px;
    font-weight: bold;
}