.root {
    display: flex;
    justify-content: center;
    align-items: start;
    height: auto;
    width: auto;
    margin: 1vw;
}

.coffee {
    display: inline;
    overflow: visible;
    background: #50C878;
    background-origin: padding-box;
    background-clip: border-box;
    box-shadow: 0 0 8px dimgrey;
    margin: 0;
    border-radius: 0.8em;
    cursor: pointer;
    transition: all 0.3s ease;
}

.coffee:hover {
    transform: scale(1.05);
    box-shadow: 0 0 12px gray;
}

.coffee:active {
    transform: scale(0.95);
    box-shadow: 0 0 8px dimgrey;
}

.text {
    margin: 0.3vw;
    padding: 0vw;
    color: black;
}

.border-text {
    font-weight: bold;
    color: #f5f5f5;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font-size: 1.3em;
}

@media (prefers-color-scheme: light) {
    .coffee {
        background: #a8d0e6;
        box-shadow: 0 0 8px #282828;
    }
    
    .coffee:hover {
    box-shadow: 0 0 12px black;
    }
    
    .coffee:active {
    box-shadow: 0 0 8px #282828;
}
}