.root {}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.close {
    display: block;
    position: absolute;
    right: 0.3em;
    top: 0.3em;
    background: #007bff;
    padding: 5px;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.close:hover {
    background: #006cf5;
}

.close:active {
    background: #0056b3;
}

.button {
    margin: 0.2em;
    padding: 0.4em;
    border: 0 solid black;
    border-radius: 0.5em;
    background-color: #4caf50;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button:disabled {
    background-color: #38a230;
}

.button:disabled:hover {
    cursor: default;
}

.button:hover {
    background-color: #45a049;
}

.popupInner {
    position: absolute;
    background-color: slategrey;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 200px;
    height: 120px;
    animation: slide-in 0.3s, fade-in 0.5s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (prefers-color-scheme: light) {
    
    .button {
        border: 0 solid black;
        background-color: #98ddca;
    }
    
    .button:disabled {
        background-color: #5fbbbc;
        cursor: default;
    }
    
    .button:disabled:hover {
        background-color: #5fbbbc;
    }
    
    .button:hover {
        background-color: #6ab8a3;
    }
    
    .popupInner {
        color: black;
        background-color: #f5f5f5;
    }
}

