.root {}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.close {
    display: block;
    position: absolute;
    right: 0.3em;
    top: 0.3em;
}

@media (prefers-color-scheme: dark) {

    .button {
        margin: 0.2em;
        padding: 0.4em;
        border: 0px solid black;
        border-radius: 0.5em;
        background-color: #4caf50;
    }

    .button:hover {
        background-color: #45a049;
    }

    ;

    .popupInner {
        position: absolute;
        background-color: slategrey;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        width: auto;
        height: auto;
        animation: slide-in 0.3s, fade-in 0.5s;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (prefers-color-scheme: light) {

    .button {
        margin: 0.2em;
        padding: 0.4em;
        border: 0px solid black;
        border-radius: 0.5em;
        background-color: #98ddca;
    }

    .button:hover {
        background-color: #6ab8a3;
    }

    .popupInner {
        position: absolute;
        background-color: #f5f5f5;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        width: auto;
        height: auto;
        animation: slide-in 0.3s, fade-in 0.5s;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

