@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.App {
    display: grid;
    grid-template-rows: auto 1fr auto; // Header, content, footer
    min-height: 100vh;
    flex-direction: column;
}

.content {
    flex: 1;
}

.button,
.button_return,
.button_disabled {
    display: inline-block;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Roboto', serif;
    font-size: 1.8em;
    padding: 1em 1.5em;
    width: auto;
    transition: all 0.3s;
    cursor: pointer;
    margin: 8px;
    border-radius: 0.6em;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    
    &.button {
        &:hover {
            transform: scale(1.1);
            background-color: blueviolet;
        }
        
        &:active {
            background-color: rebeccapurple;
            transform: scale(0.9);
        }
    }
    
    &.button_return {
        font-size: 1.4em;
        padding: 0.6em;
        
        &:hover {
            color: #FFFFFF;
            background-color: #7029b6;
            transform: translateY(-2px);
            transition: 0.3s;
        }
        
        &:active {
            transform: scale(0.95);
            transition: 0.2s;
        }
    }
    
    &.button_disabled {
        background-color: dimgray;
        cursor: not-allowed;
        opacity: 0.6;
    }
}

.button_login,
.button_register,
.button_add,
.button_view,
.button_out {
    display: block;
    border-color: transparent;
    background-color: #006400;
    font-family: 'Roboto', sans-serif;
    padding: 0.8em;
    cursor: pointer;
    margin: 0.3em;
    transition: 0.3s;
    font-size: 1em;
    color: #f5f5f5;
    border-radius: 5px;
    
    &:hover {
        background-color: #005400;
    }
    
    &:active {
        transform: scale(0.9);
    }
    
    &.button_add {
        font-weight: bold;
    }
    
    &.button_register,
    .button_login {
        height: 3em;
        width: 6em;
    }
    
    &.button_add,
    .button_view,
    .button_out {
        width: 13em;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 60px;
}

.welcome {
    order: 2;
    font-family: 'Roboto', serif;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: flex-end;
    
    p {
        margin: 0;
        padding: 5px 10px;
    }
}

.settings {
    display: flex;
}

.buttons {
    width: 100%;
    text-align: center;
}

.title {
    font-family: 'Pacifico', cursive;
    width: 100%;
    text-align: center;
    font-size: 5em;
    font-weight: 100;
}

.coffee_show {
    position: relative;
    margin: 0.3vw;
    display: block;
    text-align: center;
}

.coffeeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer {
    grid-row-start: 3;
    width: 100%;
    display: flex;
    justify-content: center;
    
    a {
        margin: 5px 1em 5px 5px;
        color: #ffffff;
        font-weight: bolder;
    }
}

.return {
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.options {
    order: 2;
    display: flex;
    flex-direction: row;
}

.select {
    background: transparent;
    border: transparent;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    margin-right: 1em;
}

.select:last-child {
    margin-right: 0;
}

.select:disabled {
    cursor: default;
}

.text {
    font-size: 1.3em;
    color: #efefef;
    position: relative;
    text-decoration: none;
    overflow: hidden;
}

.text::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.select:not(:disabled):hover .text::after {
    width: 85%;
}

.select:not(:disabled):active .text,
.select:not(:disabled):active .text::after {
    color: #b4b4b4;
}

.select:disabled .text {
    color: #ccc;
}

.select:disabled .text::after {
    width: 0;
}

@media (prefers-color-scheme: dark) {
    .button,
    .button_return {
        background-color: blueviolet;
    }
}

@media (prefers-color-scheme: light) {
    .button,
    .button_return {
        background-color: #6A5ACD;
        
        &:active {
            background-color: #52469E;
        }
        
        &:hover {
            background-color: #6A5ACD;
        }
    }
    
    .footer p {
        color: #222;
    }
}

@media only screen and (max-width: 600px) {
    .button_login,
    .button_register,
    .button_add,
    .button_view,
    .button_out {
        font-size: 0.8em;
        padding: 0.5em;
    }
}
