@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.button {
    display: inline-block;
    border-radius: 0.8vw;
    background-color: rgb(138, 43, 226);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 1.5vw;
    padding: 1.2vw;
    width: 13vw;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 5.2px 3px 15px black;
    opacity: 1;
}

.button_disabled {
    display: inline-block;
    border-radius: 0.8vw;
    background-color: dimgray;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 1.5vw;
    padding: 1.2vw;
    width: 13vw;
    transition: all 0.5s;
    cursor: not-allowed;
    margin: 5px;
    box-shadow: 5.2px 3px 15px black;
    opacity: 0.6;
}

.button_login {
    display: block;
    border-radius: 0.8vw;
    background-color: darkgreen;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-family: Times, "Times New Roman", serif;
    font-size: 1vw;
    padding: 0.4vw;
    width: 4vw;
    cursor: pointer;
    margin: 0.2vw;
    top: 0;
    right: 0vw;
    float: right;
    direction: ltr;
    position: absolute;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -0.6vw;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 1.2vw;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.top {
    text-align: start;
}

.disclaimer {
    font-family: Tahoma, sans-serif;
    font-size: 0.8vw;
    margin: 0px;
    display: block;
}

.buttons {
    width: 100%;
    text-align: center;
}

.title {
    font-family: "URW Chancery L", cursive;
    width: 100%;
    text-align: center;
}

.home {
    position: relative;
    margin: 0.3vw;
    display: block;
    text-align: center;
}

.coffee_show {
    position: absolute;
    margin: 0.3px;
}

.coffeeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}