.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popupInner {
    position: absolute;
    background-color: slategrey;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: auto;
    height: auto;
}

.close {
    background: #007bff;
    padding: 5px;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.close:hover {
    background: #006cf5;
}

.close:active {
    background: #0056b3;
}

@media (prefers-color-scheme: light) {
    
    .popupInner {
        background-color: #f5f5f5;
    }
}
